<form
  [formGroup]="form"
  (submit)="validate()"
  #myForm="ngForm"
  class="validator-right"
>
  <div class="form-label">
    <label>Nom</label>
    <div class="input-validator">
      <input type="text" [formControl]="titleCtl" />
      <span
        class="validator"
        *ngIf="myForm.submitted && titleCtl.errors &&  titleCtl.errors.required"
        >Le champ est requis</span
      >
    </div>
  </div>
  <div class="form-label">
    <label>Prénom</label>
    <div class="input"><input type="text" /></div>
  </div>
  <div>
    <button type="submit">Valider</button>
  </div>
</form>
