<form
  [formGroup]="form"
  (submit)="validate()"
  #myForm="ngForm"
  class="validator-right"
>
<!--
  <div class="form-label">
    <label>Nom</label>
    <div class="input-validator">
      <input type="text" [formControl]="titleCtl" />
      <app-validator-error-message
      [control]="titleCtl"
      [form]="myForm"
      [messages]="{ required: 'Le champs est obligatoire' }"
    ></app-validator-error-message>
    </div>
  </div>
  <div class="form-label">
    <label>Prénom</label>
    <div class="input"><input type="text" /></div>
  </div>
  <div>
    <button type="submit">Valider</button>
  </div>
</form>
-->
