<div>Les messages d'erreur sont affichés
  <ul>
    <li>pour un champ particulier quand on sort du champ (blur)</li>
    <li>au submit du formulaire.</li>
  </ul>
</div>
<form
  [formGroup]="form"
  #myForm="ngForm"
  class="validator-bottom"
>
  <div class="form-label">
    <label>Nom</label>
    <div class="input-validator">
      <input type="text" [formControl]="titleCtl" />
      <app-validator-error-message
        [controlErrors]="titleCtl.errors"
        [touched]="titleCtl.touched"
        [formSubmitted]="myForm.submitted"
        [messages]="{ required: 'Le champ « Nom » est obligatoire' }"
      ></app-validator-error-message>
    </div>
  </div>
  <div class="form-label">
    <label>Prénom<sup>[essayer '0']</sup></label>
    <div class="input-validator">
      <input type="text"  [formControl]="givenNameCtl" />
      <app-validator-error-message
        [controlErrors]="givenNameCtl.errors"
        [touched]="givenNameCtl.touched"
        [formSubmitted]="myForm.submitted">
      </app-validator-error-message>
    </div>
  </div>
  <div>
    <button type="submit">Valider</button>
  </div>
</form>
