<div style="text-align: center;">
  <h1>Test de l'affichage des messages de validation sous Angular</h1>
  <img
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>
<h2>Différentes version d'affichage du message de validation :</h2>
<nav>
  <a [routerLink]="'/rightValidator'" routerLinkActive="active-nav">Validation à droite du champ</a>
  <a [routerLink]="'/bottomValidator'" routerLinkActive="active-nav"> Validation sous le champ</a>
  <a [routerLink]="'/tooltipValidator'" routerLinkActive="active-nav">Validation en tooltip du champ</a>
</nav>
<p>Les messages d'erreur ne sont affichés qu'au submit du validator.</p>
<router-outlet></router-outlet>
